/toomanymachines
/toomanymachines-shot
/toomanymachines_profile
/bake
/bake.tmp
/devharness
/devharness.tmp
tools/bake/gen/
tools/devharness/gen/
assets/
.ngfx-perf/
.nsys-reports/
*.o
shaders/gen.glsl
shaders/spv/
.debug_screenshots/
odin-launcher.reload.log
.wgpu-backup/
tools/gen/types.gen.odin
.build.lock
imgui.ini
/libs/
/dist/
/build.bin
